.hero-text{


    @media (max-width: 750px) and (min-width:374px){
        h3{
            font-size: 2rem;
        }
    }


    @media (max-height:474px){
            padding: 2% 15% 0;
        
    }

    @media (max-height:374px){
        padding: 1% 15% 0;

        h3{
            font-size: 1.5rem;
        }

        p{
            font-size: 1rem;
        }
    
}
}


.filter_container{
    @media (width:1024px){
        margin: 0px 25%;
}
}