nav{
    background:#222222;
    padding: 1% 15% 1%;

    img{
        width: 200px;
    color: rgb(71, 228, 194);
    filter: invert(98%) sepia(92%) saturate(1156%) hue-rotate(
83deg
) brightness(105%) contrast(79%);
    }
}